
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*BOOTSTRAP*/
  .row {
  	margin-top: -0.5px;
    margin-left: 0px;
    margin-right: 0px;
}

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-md-12 
{
    padding-left: 0px;
    padding-right: 0px;

}
a {
	text-decoration:none;
	color: white;
}
a:link {
	text-decoration:none;
	color:white;
}
a:visited {
	text-decoration:none;
	color:white;
}
button {
	background-color: #cfc91d;
	border: 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
a button {
	text-decoration: none;
	color: #0b1016;
}
a:visited button {
	text-decoration: none;
	color: #0b1016;
}
a:hover button {
	color: white;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.center {
	text-align: center;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
h2 {
	text-transform: uppercase;
	color: #02918c;
	font-weight: 800;
}
h3, h4, h5, h6, .message:focus,
.textbox:focus {
	color: #7e8287;
}

@media (max-width: 768px) { 

	h1 {
		font-size: 1em;
	}
	h2 {
		font-size: 0.9em;
	}

	h3 {
		font-size: 0.4em;
	}
	h4 {
		font-size: 0.3em;
	}
	h5 {
		font-size: 0.25em;
	}
	h6 {
		font-size: 0.2em;
	}
	button {
		background-color: #cfc91d;
		border: 1px;
		padding: 1.5% 4%;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 0.3em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	/*Navigation*/
		nav {
			height: 20px;
			background-color: rgba(2, 145, 140,0.95);
			-webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
			-moz-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
			-o-box-shadow: 0 0 3px rgba(0,0,0,0.7);
			box-shadow: 0 0 3px rgba(0,0,0,0.7);
			color: white;
		}
		.black {
			height: 20px;
			background-color: black;
		}
		nav div a {
			float: left;
			color: #ffffff;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 0.7em;
			margin-top: 4px;
			margin-left: 1%;
		}
		nav aside {
			float: right;
			margin-right: -40px;
			margin-top: -1.5px;
		}
		nav aside li {
			display: inline;
		}
		nav a {
			text-transform: uppercase;
			font-weight: 800;
			font-size: 0.4em;
			margin-right: 4px;
			text-shadow: 0px 0px 0.3px rgba(255,255,255,0.9);
		}
		nav span { 
			color: #cfc91d;
		}
	/*Home*/
		.home {
		    background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(4, 32, 41, 0.6)), color-stop(100%, rgba(4, 32, 41, 0)));
		    background: -webkit-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: -moz-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: -o-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
			/*position: relative;*/
			display: block;
		    color: white;
		}
		.homeText {
		    position: absolute;
		    top: 38%;
		    left: 42%;
		    margin: -15% 0 0 -25%;
		}
		.homeText h4 {
			margin-top: 0px;
			color:white;
		}
		.homeText h3 {
			margin-top: 16.5%;
			color:white;
		}
		.homeText h1 {
			margin-top: 1%;
			letter-spacing: 0.3em;
		}
		.home button {
			margin-top: 20%;
			margin-left: 5%;
		}
	/*About*/
		.aboutUp h2 {
			text-align: center;
			margin-top: 7%;
		}
		.aboutUp h5 {
			text-align: center;
			margin-top: 1%;
			line-height: 2.5em;
			margin-right: 15%;
			margin-left: 15%;
		}
		.blockAbout {
			margin-top: 7%;
			margin-left: 8.8%;
			margin-right: 8.784773060029282%;
			margin-bottom: 33%;
		}
		.iconAbout, .iconAbout1, .iconAbout2, .iconAbout3 {
			width: 35px;
			height: 35px;
			background: url(iconsAbout.gif) no-repeat;
			margin-left: 25.5%;
			margin-bottom: 1.7%;
			margin-top: 13%;
		}
		.iconAbout {
			background-position: 0 0;
		}
		.iconAbout1 {
			background-position: 0 -40px;
		}
		.iconAbout2 {
			background-position: 0 -80px;
		}
		.iconAbout3 {
			background-position: 0 -120px;
		}
		.borderAbout {
			border-left: 2px solid rgba(217,219,219, 0.5);
		}
		.blockAbout h5, h6 {
			margin-top: 7%; 
			margin-left: 16%; 
			margin-right: 16%;
			text-align: center;
			line-height: 1.8em;

		}
		.blockAbout h5 {
			font-weight: 800;
		}
		.blockAbout h6 {
			margin-bottom: 17%;
		}
	/*Services*/
		.services {
			float: left;
			background-color: #f0f0e8;
		}
		.services h2 {
			text-align: left;
		}
		.services h5 {
			line-height: 1.4em;
			text-align: left;
			margin-right: 8%;
		}
		.services h6 {
			text-align: left;
		}
		.blockServices h5 {
			font-weight: 800;
			margin-left:15%;
		}

	/*Work*/
		.work h2 {
			margin-top: 7%;
		}
		.work h6, h5, h2 {
			text-align: center;
			margin-top: 1%;
		}
		.work h5 {
			margin-left: 25.622254758418737%;
			margin-right: 25.622254758418737%;
			line-height: 2.5em;
			margin-top: 1%;
		}
	/*Photo Slider*/
		.photoSlider {
			margin-top:4%;
		}
	/*Contact*/
		.contact h2 {
			margin-top: 7%;
		}
		.contact h6, h5, h2 {
			text-align: center;
			margin-top: 1%;
		}
		.contact h5 {
			margin-left: 25.622254758418737%;
			margin-right: 25.622254758418737%;
			line-height: 2.5em;
			margin-top: 1%;
		}
	/*Form*/
		.formForm {
			background-color:#0b0b0b;
			margin-top: 4%;
		}
		.form input {
		  border: none;
		}
		.form .input {
		  background-color:inherit;
		  outline: none;
		}
		.first .input:focus {
		  background-color: inherit;
		  background-position: 0 -29px;
		  width: 80%;
		  height: 29px;
		}
		.first .form {
		  width: 100%;
		  height: 29px;
		}
		.first h5 {
			padding-top: 10px;
			border-bottom: 1px solid rgba(217,219,219, 0.5);
			padding-bottom: 0;
		    margin-left: 29.282576866764277%;
		    margin-right: 29.282576866764277%;
		}
		.first :first-child {
			border-color:rgba(217,219,219, 0.6);
			text-align: center;
		}
		.second h5 {
			padding-top: 20px;
			border-bottom: 1px solid;
		    margin-left: 18.301610541727673%;
		    margin-right: 18.301610541727673%;
		}
		.second .message{
		  width: 100%;
		  height: 20px;
		}
		.second textarea {
		  background-color: inherit;
		  width: 100%;
		  resize: none;
		  border:none;
		  overflow-y:hidden;
		  outline: none;
		}
		.second :first-child {
			text-align: center;
		}
		.formForm button {
			margin-left: 41.8%;
			margin-top: 4%;
			padding: 1% 4%;
			margin-bottom:5%;
		}
	/*Bottom*/
		.bottomBlack {
			height: 50px;
			background-color: #000000;
			text-align: center;
			margin-top: -20px;
		}
		.bottomBlack h5 {
			background-color: #000000;
		}	
}
@media (min-width: 768px) and (max-width: 992px) { 
	/*main*/
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 1.8em;
	}

	h3 {
		font-size: 0.8em;
	}
	h4 {
		font-size: 0.6em;
	}
	h5 {
		font-size: 0.6em;
	}
	h6 {
		font-size: 0.41em;
	}
	button {
		background-color: #cfc91d;
		border: 1px;
		padding: 1.5% 4%;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 0.95em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	/*Navigation*/
		nav {
			height: 40px;
			background-color: rgba(2, 145, 140,0.95);
			-webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
			-moz-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
			-o-box-shadow: 0 0 3px rgba(0,0,0,0.7);
			box-shadow: 0 0 3px rgba(0,0,0,0.7);
			color: white;
		}
		.black {
			height: 40px;
			background-color: black;
		}
		nav div a {
			float: left;
			color: #ffffff;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 1em;
			margin-top: 12px;
			margin-left: 3.2%;
		}
		nav aside {
			float: right;
			margin-top: 12px;
		}
		nav aside li {
			display: inline;
		}
		nav a {
			text-transform: uppercase;
			font-weight: 800;
			font-size: 0.7em;
			margin-right: 45px;
			text-shadow: 0px 0px 0.3px rgba(255,255,255,0.9);
		}
		nav span { 
			color: #cfc91d;
		}
	/*Home*/
		.home {
		    background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(4, 32, 41, 0.6)), color-stop(100%, rgba(4, 32, 41, 0)));
		    background: -webkit-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: -moz-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: -o-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
			/*position: relative;*/
			display: block;
		    color: white;
		}
		.homeText {
		    position: absolute;
		    top: 36%;
		    left: 40%;
		    margin: -15% 0 0 -25%;
		}
		.homeText h4 {
			margin-top: 0px;
			color:white;
		}
		.homeText h3 {
			margin-top: 16.5%;
			color:white;
		}
		.homeText h1 {
			margin-top: 1%;
			letter-spacing: 0.3em;
		}
		.home button {
			margin-top: 15%;
			margin-left: 0%;
		}
	/*About*/
		.aboutUp h2 {
			text-align: center;
			margin-top: 7%;
		}
		.aboutUp h5 {
			text-align: center;
			margin-top: 1%;
			line-height: 2.5em;
			margin-right: 15%;
			margin-left: 15%;
		}
		.blockAbout {
			margin-top: 7%;
			margin-left: 8.8%;
			margin-right: 8.784773060029282%;
			margin-bottom: 33%;
		}
		.iconAbout, .iconAbout1, .iconAbout2, .iconAbout3 {
			width: 35px;
			height: 35px;
			background: url(iconsAbout.gif) no-repeat;
			margin-left: 42.5%;
			margin-bottom: 1.7%;
			margin-top: 13%;
		}
		.iconAbout {
			background-position: 0 0;
		}
		.iconAbout1 {
			background-position: 0 -40px;
		}
		.iconAbout2 {
			background-position: 0 -80px;
		}
		.iconAbout3 {
			background-position: 0 -120px;
		}
		.borderAbout {
			border-left: 2px solid rgba(217,219,219, 0.5);
		}
		.blockAbout h5, h6 {
			margin-top: 7%; 
			margin-left: 16%; 
			margin-right: 16%;
			text-align: center;
			line-height: 1.8em;

		}
		.blockAbout h5 {
			font-weight: 800;
		}
		.blockAbout h6 {
			margin-bottom: 17%;
		}
	/*Services*/
		.services {
			float: left;
			background-color: #f0f0e8;
		}
		.services h2 {
			margin-top: 9%;
			text-align: left;
			margin-left: 13%;
		}
		.services h5 {
			margin-top: 3%;
			line-height: 2.5em;
			text-align: left;
			margin-left: 13%;
			margin-right: 8%;
		}
		.services h6 {
			text-align: left;
			margin-top: 4%;
			margin-left: 13%;
		}
		.blockServices {
			margin-top:2%;
		}
		.blockServices h5 {
			font-weight: 800;
		}
		.iconServices, .iconServices1, .iconServices2, .iconServices3 {
			width: 35px;
			height: 35px;
			background: url(iconsServices.gif) no-repeat;
			margin-left: 26%;
		}
		.iconServices {
			background-position: 0 0;
		}
		.iconServices1 {
			background-position: 0 -40px;
		}
		.iconServices2 {
			background-position: 0 -80px;
		}
		.iconServices3 {
			background-position: 0 -122px;
		}
		.blockServices h5 {
			line-height: 2.5em;
			margin-top: 3px;
			margin-left: 26%;
		}
		.blockServices h6 {
			margin-top: 7px;
			margin-left: 26%;
			margin-bottom: 16.7%;
		}
	/*Work*/
		.work h2 {
			margin-top: 7%;
		}
		.work h6, h5, h2 {
			text-align: center;
			margin-top: 1%;
		}
		.work h5 {
			margin-left: 25.622254758418737%;
			margin-right: 25.622254758418737%;
			line-height: 2.5em;
			margin-top: 1%;
		}
	/*Photo Slider*/
		.photoSlider {
			margin-top:4%;
		}
	/*Contact*/
		.contact h2 {
			margin-top: 7%;
		}
		.contact h6, h5, h2 {
			text-align: center;
			margin-top: 1%;
		}
		.contact h5 {
			margin-left: 25.622254758418737%;
			margin-right: 25.622254758418737%;
			line-height: 2.5em;
			margin-top: 1%;
		}
	/*Form*/
		.formForm {
			background-color:#0b0b0b;
			margin-top: 4%;
		}
		.form input {
		  border: none;
		}
		.form .input {
		  background-color:inherit;
		  outline: none;
		}
		.first .input:focus {
		  background-color: inherit;
		  background-position: 0 -29px;
		  width: 80%;
		  height: 29px;
		}
		.first .form {
		  width: 100%;
		  height: 29px;
		}
		.first h5 {
			padding-top: 10px;
			border-bottom: 1px solid rgba(217,219,219, 0.5);
			padding-bottom: 0;
		    margin-left: 29.282576866764277%;
		    margin-right: 29.282576866764277%;
		}
		.first :first-child {
			border-color:rgba(217,219,219, 0.6);
			text-align: center;
		}
		.second h5 {
			padding-top: 20px;
			border-bottom: 1px solid;
		    margin-left: 18.301610541727673%;
		    margin-right: 18.301610541727673%;
		}
		.second .message{
		  width: 100%;
		  height: 20px;
		}
		.second textarea {
		  background-color: inherit;
		  width: 100%;
		  resize: none;
		  border:none;
		  overflow-y:hidden;
		  outline: none;
		}
		.second :first-child {
			text-align: center;
		}
		.formForm button {
			margin-left: 41.8%;
			margin-top: 4%;
			padding: 1% 4%;
			margin-bottom:5%;
		}
	/*Bottom*/
		.bottomBlack {
			height: 50px;
			background-color: #000000;
			text-align: center;
			margin-top: -20px;
		}
		.bottomBlack h5 {
			background-color: #000000;
		}	
}
@media (min-width: 992px) and (max-width: 1200px){
	/*Main code*/
	h1 {
		font-size: 4em;
	}
	h2 {
		font-size: 2.3em;
	}

	h3 {
		font-size: 1.4em;
	}
	h4 {
		font-size: 0.925em;
	}
	h5 {
		font-size: 0.85em;
	}
	h6 {
		font-size: 0.65em;
	}
	button {
		background-color: #cfc91d;
		border: 1px;
		padding: 1.5% 4%;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 0.95em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	/*Navigation*/
		nav {
			height: 60px;
			background-color: rgba(2, 145, 140,0.95);
			-webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
			-moz-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
			-o-box-shadow: 0 0 3px rgba(0,0,0,0.7);
			box-shadow: 0 0 3px rgba(0,0,0,0.7);
			color: white;
		}
		.black {
			height: 60px;
			background-color: black;
		}
		nav div a {
			float: left;
			color: #ffffff;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 1.5em;
			margin-top: 17px;
			margin-left: 3.2%;
		}
		nav aside {
			float: right;
			margin-top: 20px;
		}
		nav aside li {
			display: inline;
		}
		nav a {
			text-transform: uppercase;
			font-weight: 800;
			font-size: 0.9em;
			margin-right: 45px;
			text-shadow: 0px 0px 0.3px rgba(255,255,255,0.9);
		}
		nav span { 
			color: #cfc91d;
		}
	/*Home*/
		.home {
		    background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(4, 32, 41, 0.6)), color-stop(100%, rgba(4, 32, 41, 0)));
		    background: -webkit-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: -moz-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: -o-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
			/*position: relative;*/
			display: block;
		    color: white;
		}
		.homeText {
		    position: absolute;
		    top: 34%;
		    left: 32%;
		    margin: -15% 0 0 -25%;
		}
		.homeText h4 {
			margin-top: -5px;
			color:white;
		}
		.homeText h3 {
			margin-top: 16.5%;
			color:white;
		}
		.homeText h1 {
			margin-top: 1%;
			letter-spacing: 0.3em;
		}
		.home button {
			margin-top: 10%;
			margin-left: 0%;
		}
	/*About*/
		.aboutUp h2 {
			text-align: center;
			margin-top: 7%;
		}
		.aboutUp h5 {
			text-align: center;
			margin-top: 1%;
			line-height: 2.5em;
			margin-right: 15%;
			margin-left: 15%;
		}
		.blockAbout {
			margin-top: 7%;
			margin-left: 8.8%;
			margin-right: 8.784773060029282%;
			margin-bottom: 33%;
		}
		.iconAbout, .iconAbout1, .iconAbout2, .iconAbout3 {
			width: 35px;
			height: 35px;
			background: url(iconsAbout.gif) no-repeat;
			margin-left: 42.5%;
			margin-bottom: 1.7%;
			margin-top: 13%;
		}
		.iconAbout {
			background-position: 0 0;
		}
		.iconAbout1 {
			background-position: 0 -40px;
		}
		.iconAbout2 {
			background-position: 0 -80px;
		}
		.iconAbout3 {
			background-position: 0 -120px;
		}
		.borderAbout {
			border-left: 2px solid rgba(217,219,219, 0.5);
		}
		.blockAbout h5, h6 {
			margin-top: 7%; 
			margin-left: 16%; 
			margin-right: 16%;
			text-align: center;
			line-height: 1.8em;

		}
		.blockAbout h5 {
			font-weight: 800;
		}
		.blockAbout h6 {
			margin-bottom: 17%;
		}
	/*Services*/
		.services {
			float: left;
			background-color: #f0f0e8;
		}
		.services h2 {
			margin-top: 9%;
			text-align: left;
			margin-left: 13%;
		}
		.services h5 {
			margin-top: 3%;
			line-height: 2.5em;
			text-align: left;
			margin-left: 13%;
			margin-right: 8%;
		}
		.services h6 {
			text-align: left;
			margin-top: 4%;
			margin-left: 13%;
		}
		.blockServices {
			margin-top:2%;
		}
		.blockServices h5 {
			font-weight: 800;
		}
		.iconServices, .iconServices1, .iconServices2, .iconServices3 {
			width: 35px;
			height: 35px;
			background: url(iconsServices.gif) no-repeat;
			margin-left: 26%;
		}
		.iconServices {
			background-position: 0 0;
		}
		.iconServices1 {
			background-position: 0 -40px;
		}
		.iconServices2 {
			background-position: 0 -80px;
		}
		.iconServices3 {
			background-position: 0 -122px;
		}
		.blockServices h5 {
			line-height: 2.5em;
			margin-top: 3px;
			margin-left: 26%;
		}
		.blockServices h6 {
			margin-top: 7px;
			margin-left: 26%;
			margin-bottom: 0.5%;
		}
	/*Work*/
		.work h2 {
			margin-top: 7%;
		}
		.work h6, h5, h2 {
			text-align: center;
			margin-top: 1%;
		}
		.work h5 {
			margin-left: 25.622254758418737%;
			margin-right: 25.622254758418737%;
			line-height: 2.5em;
			margin-top: 1%;
		}
	/*Photo Slider*/
		.photoSlider {
			margin-top:4%;
		}
	/*Contact*/
		.contact h2 {
			margin-top: 7%;
		}
		.contact h6, h5, h2 {
			text-align: center;
			margin-top: 1%;
		}
		.contact h5 {
			margin-left: 25.622254758418737%;
			margin-right: 25.622254758418737%;
			line-height: 2.5em;
			margin-top: 1%;
		}
	/*Form*/
		.formForm {
			background-color:#0b0b0b;
			margin-top: 4%;
		}
		.form input {
		  border: none;
		}
		.form .input {
		  background-color:inherit;
		  outline: none;
		}
		.first .input:focus {
		  background-color: inherit;
		  background-position: 0 -29px;
		  width: 80%;
		  height: 29px;
		}
		.first .form {
		  width: 100%;
		  height: 29px;
		}
		.first h5 {
			padding-top: 50px;
			border-bottom: 1px solid rgba(217,219,219, 0.5);
			padding-bottom: 15px;
		    margin-left: 29.282576866764277%;
		    margin-right: 29.282576866764277%;
		}
		.first :first-child {
			border-color:rgba(217,219,219, 0.6);
			text-align: center;
		}
		.second h5 {
			padding-top: 50px;
			border-bottom: 1px solid;
		    margin-left: 18.301610541727673%;
		    margin-right: 18.301610541727673%;
		}
		.second .message{
		  width: 100%;
		  height: 50px;
		}
		.second textarea {
		  background-color: inherit;
		  width: 100%;
		  resize: none;
		  border:none;
		  overflow-y:hidden;
		  outline: none;
		}
		.second :first-child {
			text-align: center;
		}
		.formForm button {
			margin-left: 43%;
			margin-top: 4%;
			padding: 1% 4%;
			margin-bottom:5%;
		}
	/*Bottom*/
		.bottomBlack {
			height: 50px;
			background-color: #000000;
			text-align: center;
			margin-top: -20px;
		}
		.bottomBlack h5 {
			background-color: #000000;
		}	
}
@media (min-width: 1200px) {
/*THE  MAIN*/	
	h1 {
		font-size: 4.5em;
	}
	h2 {
		font-size: 2.9em;
	}
	h3 {
		font-size: 2em;
	}
	h4 {
		font-size: 1.1em;
	}
	h5 {
		font-size: 1em;
	}
	h6 {
		font-size: 0.75em;
	}
	button {
		background-color: #cfc91d;
		border: 1px;
		padding: 1.5% 4%;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 0.95em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	/*Navigation*/
		nav {
			height: 60px;
			background-color: rgba(2, 145, 140,0.95);
			-webkit-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
			-moz-box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
			-o-box-shadow: 0 0 3px rgba(0,0,0,0.7);
			box-shadow: 0 0 3px rgba(0,0,0,0.7);
			color: white;
		}
		.black {
			height: 60px;
			background-color: black;
		}
		nav div a {
			float: left;
			color: #ffffff;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 2em;
			margin-top: 10px;
			margin-left: 3.2%;
		}
		nav aside {
			float: right;
			margin-top: 20px;
		}
		nav aside li {
			display: inline;
		}
		nav a {
			text-transform: uppercase;
			font-weight: 800;
			font-size: 0.9em;
			margin-right: 45px;
			text-shadow: 0px 0px 0.3px rgba(255,255,255,0.9);
		}
		nav span { 
			color: #cfc91d;
		}
	/*Home*/
		.home {
		    background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(4, 32, 41, 0.6)), color-stop(100%, rgba(4, 32, 41, 0)));
		    background: -webkit-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: -moz-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: -o-linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
		    background: linear-gradient(bottom left, rgba(4, 32, 41, 0.6), rgba(4, 32, 41, 0));
			/*position: relative;*/
			display: block;
		    color: white;
		}
		.homeText {
		    position: absolute;
		    top: 34%;
		    left: 40%;
		    margin: -15% 0 0 -25%;
		}
		.homeText h4 {
			margin-top: -5px;
			color:white;
		}
		.homeText h3 {
			margin-top: 16.5%;
			color:white;
		}
		.homeText h1 {
			margin-top: 1%;
			letter-spacing: 0.3em;
		}
		.home button {
			margin-top: 14.5%;
			margin-left: 0%;
		}
	/*About*/
		.aboutUp h2 {
			text-align: center;
			margin-top: 7%;
		}
		.aboutUp h5 {
			text-align: center;
			margin-top: 1%;
			line-height: 2.5em;
			margin-right: 15%;
			margin-left: 15%;
		}
		.blockAbout {
			margin-top: 7%;
			margin-left: 8.8%;
			margin-right: 8.784773060029282%;
			margin-bottom: 33%;
		}
		.iconAbout, .iconAbout1, .iconAbout2, .iconAbout3 {
			width: 35px;
			height: 35px;
			background: url(iconsAbout.gif) no-repeat;
			margin-left: 42.5%;
			margin-bottom: 1.7%;
			margin-top: 13%;
		}
		.iconAbout {
			background-position: 0 0;
		}
		.iconAbout1 {
			background-position: 0 -40px;
		}
		.iconAbout2 {
			background-position: 0 -80px;
		}
		.iconAbout3 {
			background-position: 0 -120px;
		}
		.borderAbout {
			border-left: 2px solid rgba(217,219,219, 0.5);
		}
		.blockAbout h5, h6 {
			margin-top: 7%; 
			margin-left: 16%; 
			margin-right: 16%;
			text-align: center;
			line-height: 1.8em;

		}
		.blockAbout h5 {
			font-weight: 800;
		}
		.blockAbout h6 {
			margin-bottom: 17%;
		}

	/*Services*/
		.services {
			float: left;
			background-color: #f0f0e8;
		}
		.services h2 {
			margin-top: 9%;
			text-align: left;
			margin-left: 13%;
		}
		.services h5 {
			margin-top: 3%;
			line-height: 2.5em;
			text-align: left;
			margin-left: 13%;
			margin-right: 8%;
		}
		.services h6 {
			text-align: left;
			margin-top: 4%;
			margin-left: 13%;
		}
		.blockServices {
			margin-top:2%;
		}

		.blockServices h5 {
			font-weight: 800;
		}
		.iconServices, .iconServices1, .iconServices2, .iconServices3 {
			width: 35px;
			height: 35px;
			background: url(iconsServices.gif) no-repeat;
			margin-left: 26%;
			margin-top: 7.4%;
		}
		.iconServices {
			background-position: 0 0;
		}
		.iconServices1 {
			background-position: 0 -40px;
		}
		.iconServices2 {
			background-position: 0 -80px;
		}
		.iconServices3 {
			background-position: 0 -122px;
		}
		.blockServices h5 {
			line-height: 2.5em;
			margin-top: 3px;
			margin-left: 26%;
		}
		.blockServices h6 {
			margin-top: 7px;
			margin-left: 26%;
			margin-bottom:21.5%;
		}
	/*Work*/
		.work h2 {
			margin-top: 7%;
		}
		.work h6, h5, h2 {
			text-align: center;
			margin-top: 1%;
		}
		.work h5 {
			margin-left: 25.622254758418737%;
			margin-right: 25.622254758418737%;
			line-height: 2.5em;
			margin-top: 1%;
		}
	/*Photo Slider*/
		.photoSlider {
			margin-top:4%;
		}
	/*Contact*/
		.contact h2 {
			margin-top: 7%;
		}
		.contact h6, h5, h2 {
			text-align: center;
			margin-top: 1%;
		}
		.contact h5 {
			margin-left: 25.622254758418737%;
			margin-right: 25.622254758418737%;
			line-height: 2.5em;
			margin-top: 1%;
		}
	/*Form*/
		.formForm {
			background-color:#0b0b0b;
			margin-top: 4%;
		}
		.form input {
		  border: none;
		}
		.form .input {
		  background-color:inherit;
		  outline: none;
		}
		.first .input:focus {
		  background-color: inherit;
		  background-position: 0 -29px;
		  width: 80%;
		  height: 29px;
		}
		.first .form {
		  width: 100%;
		  height: 29px;
		}
		.first h5 {
			padding-top: 50px;
			border-bottom: 1px solid rgba(217,219,219, 0.5);
			padding-bottom: 15px;
		    margin-left: 29.282576866764277%;
		    margin-right: 29.282576866764277%;
		}
		.first :first-child {
			border-color:rgba(217,219,219, 0.6);
			text-align: center;
		}
		.second h5 {
			padding-top: 50px;
			border-bottom: 1px solid;
		    margin-left: 18.301610541727673%;
		    margin-right: 18.301610541727673%;
		}
		.second .message{
		  width: 100%;
		  height: 50px;
		}
		.second textarea {
		  background-color: inherit;
		  width: 100%;
		  resize: none;
		  border:none;
		  overflow-y:hidden;
		  outline: none;
		}
		.second :first-child {
			text-align: center;
		}
		.formForm button {
			margin-left: 44%;
			margin-top: 4%;
			padding: 1% 4%;
			margin-bottom:5%;
		}
	/*Bottom*/
		.bottomBlack {
			height: 50px;
			background-color: #000000;
			text-align: center;
			margin-top: -20px;
		}
		.bottomBlack h5 {
			background-color: #000000;
		}
}
