<!-- CONTACT -->
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="contact"></div>
					<p></p>
					<div class="contact">
						<h2>contact me</h2>
						<h6>~~~~~::~~~~~</h6>
						<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet finibus dui, sed blandit nulla. Sed vel consectetur ante.</h5>
					</div>

					<!-- FORM -->
					<div class="formForm">
						<div class="first">
							<h5>
								<form class="form">
							  		<input type="text" value="NAME" onblur="if(this.value=='') this.value='NAME';" onfocus="if(this.value=='NAME') this.value='';" class="input" />
								</form>
							</h5>
							<h5>
								<form class="form">
							  		<input type="text" value="EMAIL ADRESS" onblur="if(this.value=='') this.value='EMAIL ADRESS';" onfocus="if(this.value=='EMAIL ADRESS') this.value='';" class="input" />
								</form>
							</h5>

						</div>
						<div class="second">
							<h5>
								<textarea rows="4" cols="50" name="subject" placeholder="MESSAGE" class="message" required></textarea>
							</h5>
						</div>
						<a href=""><button>Submit</button></a>
					</div>
				</div>
			</div>	
				<div class="bottomBlack">
					<h5></h5>
				</div>
	</div>