	<div id="homez">
	</div>
	<div class= "black"></div>
<!-- HOME --> 
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class = "home">
						<img src="/img/MYFOLIO.jpg" class="img-responsive" height="773" width="1349">
						<!--<div class="carousel slide" data-ride="carousel" id="featured">
							<div class="carousel-inner">
							<div class="item"><img src="/img/MYFOLIO.jpg"></div>
							<div class="item"><img src="/img/MYFOLIO.jpg"></div>
							<div class="item"><img src="/img/MYFOLIO.jpg"></div>
							<div class="item"><img src="/img/MYFOLIO.jpg"></div>
							<a class="left carousel-control" href="#featured" role="button" data-slide="prev">
								<span class="glyphicon-chevron-left"></span>
							</a>
							<a class="left carousel-control" href="#featured" role="button" data-slide="next">
								<span class="glyphicon-chevron-right"></span>
							</a>
							</div>
							</div> -->
								<div class = "homeText center">
									<h3> Lorem ipsum dolor sit iusmod tempor </h3>
									<h1> incididunt bore  <h1>
									<h4> Orem ipsum dolor sit amet, consectetur  </h4>
									<a href="#services"><button>Know more</button></a>
								</div>
					</div>
				</div>
			</div>