<!-- SERVICES -->
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<div id="services"></div>
					<p></p>
					<div class="services">
						<h2>Services</h2>
						<h6>~~~~~ :: ~~~~~</h6>
						<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						Donec sit amet finibus dui, sed blandit nulla. Sed vel consectetur ante.</h5>
						<div class="blockServices col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="iconServices"></div>
							<ul>
								<li><h5>Title goes here</h5></li>
								<li><h6>ante. Vestibulum maximus, magna sit amet suscipit tempor, ante lorem mollis risus</h6></li>
							</ul>
						</div>
						<div class="blockServices col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="iconServices1"></div>
							<ul>
								<li><h5>Title goes here</h5></li>
								<li><h6>ante. Vestibulum maximus, magna sit amet suscipit tempor, ante lorem mollis risus</h6></li>
							</ul>
						</div>	

						<div class="blockServices col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="iconServices2"></div>
							<ul>
								<li><h5>Title goes here</h5></li>
								<li><h6>ante. Vestibulum maximus, magna sit amet suscipit tempor, ante lorem mollis risus</h6></li>
							</ul>
						</div>	
						<div class="blockServices col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<div class="iconServices3"></div>
								<ul>
									<li><h5>Title goes here</h5></li>
									<li><h6>ante. Vestibulum maximus, magna sit amet suscipit tempor, ante lorem mollis risus</h6></li>
								</ul>
						</div>
				</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<img src="/img/rightServices.jpg" class="img-responsive" width="675" height="3a00" >
				</div>
			</div>